<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app with NodeJs and Mongo DB    </h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio praesentium corporis aspernatur esse, et quisquam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, optio! Recusandae numquam blanditiis accusantium odit temporibus expedita nostrum fuga debitis.</p>
    <a href="https://www.faztweb.com" class="btn-btnprimary">Fastweb</a>
</div>